:root{
    --color-bg-white: #ffffff;
    --color-bg-highLight: #d7d7d7;
    --color-bg-middleTone: #646978;
    --color-bg-shadowHigh: #1f2732;
    --color-bg-shadow: #161d27;
    --color-contrast-lowLight: #d1b06b; 
}