*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
}
header{
    padding: 15px 0 0 0 !important;
    background-image: url();
}
.header__logoBtn, .header__nav {
    padding: 10px 10% !important;
}
.headboard{
    display: grid;
    position: relative;
}
.headboard__content{
    width: auto;
    max-width: calc(50vw - 10%);
    position: absolute;
    left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 15px;
}
.title__text{
    font-size: 2.5rem;
    width: 400px;
}
.title__text--ffamily{
    font-family: Cormorant Garamond;
    font-weight: 500;
}
.headboard__text p{
    color: var(--color-contrast-lowLight);
}
.button{
    text-align: center;
}
.headboard__img{
 width: 100%;
 display: grid;
 justify-items: end;
}
.headboard__img img{
    height: 500px;
}

