:root{
    --padding-clamp-header : clamp(10px 5vw 8rem);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}
h1, h2, p{
    color: white;
}
a{
    color: white;
}
.user-select--none, img{
    user-select: none;
}
.header{
    background-color: rgba(0, 0, 0, .8);
    padding: 15px 50px;
}
.header__nav , 
.header__logoBtn,
.header__btnBasket, 
.header__logo, 
.header__basket__link,
.nav__contact, 
.nav__contact__elemens,
.header__nav__options
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__contact__icons{
    position: relative;
}
.nav__contact__icons .icon{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.header__nav{
    border: 1px solid rgba(220, 220, 220, 0.1);
    border-right: 0px;
    border-left: 0px;
}
.header__logoBtn , .header__nav{
    padding: 15px 0;
}
.header__btnBasket,
.nav__contact,
.header__nav__options
{
    gap: 50px;
}
.nav__contact__elemens, 
.header__logo,
.header__basket__link{
    gap: 10px;
}
.icon__logo{
    height: 4rem;
}
.title__logo{
    font-size: 3rem;
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.icon__basket{
    height: 20px;
}
.header__btn__link{
    background-color: rgba(255, 255, 255, .1);
    padding: 20px 25px;
}
.header--fzise{
    font-size: 1rem;
}
.icon__ellipse{
    height: 3rem;
    margin-top: 2px;
}
.title__contact--color{
    color: rgb(214, 179, 101);
}
/*---------------------------------- Footer --------------------------------------  */
footer {
    max-width: 1920px;
    max-height: 993px;
    background-color: #1f2732 ;
}

footer p {
    color: rgb(255, 255, 255);
}
.footer__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.footer__iconHeader {
    display: flex;
    align-items: center;
}
.footer__iconHeader img {
    width: 56.44px;
    height: 78px;
}